:root {
  --primary-color: #FFA500;
  /* Laranja */
  --secondary-color: #333333;
  /* Preto */
  --background-color: #f8f9fa;
  /* Cinza claro */
}

.btn-comal {
  background-color: var(--primary-color);
  border: 0;
  color: black;
}

.btn-comal:hover {
  background-color: #d38900;
  border-color: var(--primary-color);
  color: rgb(255, 255, 255);
}

.text-orange {
  color: var(--primary-color);
}

.bg-orange {
  background-color: var(--primary-color);
}

/* Botão da apresentação */
.btn-outline-orange {
  border-color: white;
  color: black;
}

.btn-outline-orange:hover {
  color: black;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.hero-section {
  background: url('../assets/home_bk.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
}

.services-section,
.about-section,
.contact-section {
  padding: 60px 0;
}

.footer-section {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px 0;
}

.comal-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(40, 34, 17, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 40rem;
  margin: 15px 150px 0 0;
}